<% folders.each do |folder| %>
    <div class="folder_form">
            <tr>
            <td>
            <%= folder.user_memo %>
            <td><a href =<%= folder.url_memo %> target = ["_blenk"]><%= folder.title_memo %></a>
            <div class="save_area">
                <% if folder_user.include?(folder.url_memo) %>
                    <div class="save-btn1">
                        保存済み
                    </div>
                <% else %>
                    <div class="save-btn">
                        <%= link_to "保存", folders_path(article_id: folder, user_name: folder.user_memo, title: folder.title_memo, url: folder.url_memo), class: "save-btn2", remote: true, method: :post %>
                    </div>
                <% end %>
            </div>
            </td>
            </tr>
    </div>
<% end %>