<div class="edit_page" style="text-align:center;">
    <%= form_for @user do |f| %>
        <%= f.text_field :name, value: @user.name %>
        <%= f.submit "保存" %>
    <% end %>
    <P><%= @user.email %></p>
</div>