<style>
  main {
    height: 100%;
    width: 100%;
    background: radial-gradient(#43FF6B, #007700);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact_form {
    text-align: center;  
  }
  
  .font_fam {
    color: white;
    padding-bottom: 30px;
  }
</style>

<%= render 'layouts/header' %>
<main>
  <div class="contact_form">
  <h2 class="font_fam"><span style="font-family: Comic Sans MS;">QiiMemo</span></h2>
    <p>お問い合わせありがとうございます。</p>
    <p>担当者からの返信をお待ち下さい。</p>
  </div>
</main>