<style>
    .class_container_qiita {
        font-size: 20px;
    }
    .pagination {
        justify-content: center;
    }
</style>
<% @method_memories.each do |method_memory| %>
<div class="container">
    <div class="row">
        <div class="col-md-11 offset-1">
            <div class="main_container">
                <div class="class_name">
                    <div class="class_container_qiita">
                        <%= method_memory.expected_title_qiita %>
                    </div>
                </div>
                <h7 class="description_container">
                    <%= method_memory.expected_method_qiita %>
                </h7>
                <div class="article_url">
                    <% if folder_user.include?("https://qiita.com#{method_memory.expected_url_qiita}") %>
                        <div class="article_button3">
                            保存済み
                        </div>
                    <% else %>
                        <%= link_to "保存", method_searches_path(title: method_memory.expected_title_qiita, url: "https://qiita.com#{method_memory.expected_url_qiita}", user_name: method_memory.expected_user_name, method_code: method_memory.method), method: :post, target: :_blank, class: "article_button1", remote: true %>
                    <% end %>
                    <%= link_to "記事へ", "https://qiita.com#{method_memory.expected_url_qiita}", target: :_blank, class: "article_button2" %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

<script>

$('.article_button1').on('click', function () {
    $(this).addClass("article_button3");
    $(this).text('保存済み');
});

$(function(){
    $('.paginate').click(function () {
        //id名#pagetopがクリックされたら、以下の処理を実行
        $("html,body").animate({scrollTop:300},"300");
    });
});
</script>
