<style>
    .class_container_qiita {
        font-size: 20px;
    }
</style>
<% expected_method_qiita.zip(expected_url_qiita, expected_title_qiita).each do |qiita_method, qiita_url, qiita_name| %>
<div class="container">
    <div class="row">
        <div class="col-md-11 offset-1">
            <div class="main_container">
                <div class="class_name">
                    <div class="class_container_qiita">
                        <%= qiita_name %>
                    </div>
                </div>
                <h7 class="description_container">
                    <%= qiita_method %>
                </h7>
                <div class="article_url">
                    <%= link_to "記事へ", "https://qiita.com#{qiita_url}", target: :_blank, class: "article_button" %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>