// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .top-warapper {
//         background-image: image-url("14.58.52.png"");
//         background-size: cover;
//         height: 700px;
//         padding-top: 6px;
//         padding-bottom: 80px;
//         opacity: 0.8;
//     }