<% unless current_page?(root_path) %> 
    <div class="side-bar">
      <% if user_signed_in? %>
        <div class="home">
          <%= link_to  "/folders" do %>
            <i class="fa fa-home fa-2x"></i>
            <div class="home-letter">ホーム</div>
          <% end %>
        </div>
        <div class="file">
          <%= link_to "/files" do %>
            <i class="fa fa-folder-open fa-2x "></i> 
            <div class="file-letter">ファイル</div>
          <% end %>
        </div>
        <div class="user">
          <%= link_to  "/users/#{current_user.id}" do %>
            <i class="fa fa-user fa-2x"></i>
            <div class="user-letter">プロフィール</div>
          <% end %>
        </div>
        <div class="logout">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <div class="logout-letter"></div>
        </div>
      <% end %>
    </div>
  <% end %>